/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import 'ngx-toastr/toastr';

@source inline("
  bg-cyan-50 text-cyan-700 ring-cyan-600/20
  bg-blue-50 text-blue-700 ring-blue-600/20
  bg-amber-50 text-amber-700 ring-amber-600/20
  bg-indigo-50 text-indigo-700 ring-indigo-600/20
  bg-emerald-50 text-emerald-700 ring-emerald-600/20
  bg-purple-50 text-purple-700 ring-purple-600/20
  bg-red-50 text-red-700 ring-red-600/20
  bg-orange-50 text-orange-700 ring-orange-600/20
  bg-gray-100 text-gray-600 ring-gray-500/20
");

@theme {
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
}